<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Lobster|Special+Elite&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to ("<i class='fas fa-cocktail'></i> Lets-Get-Wasted").html_safe, cocktails_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Add new Cocktail', new_cocktail_path, class: 'nav-link text-right' %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  <%= javascript_pack_tag "application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
